<p id="notice"><%= notice %></p>

<h1>Coupans</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Discount</th>
      <th>Expriry date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupans.each do |coupan| %>
      <tr>
        <td><%= coupan.code %></td>
        <td><%= coupan.discount %></td>
        <td><%= coupan.expriry_date %></td>
        <td><%= link_to 'Show', coupan %></td>
        <td><%= link_to 'Edit', edit_coupan_path(coupan) %></td>
        <td><%= link_to 'Destroy', coupan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupan', new_coupan_path %>
