<h3>Your Wishlist</h3>
<% if @wishlists.empty? %>
	<p>Your wishlist is empty. Shop<%= link_to "here", products_path %></p>
<% else %>
	<table border = "1">
		<thead>
			<tr>
				<th>  # </th>
				<th>    </th>
				<th> Name </th>
				<th> Price </th>
				<th>   </th>
				<th>   </th>
			</tr>
		</thead>
		<tbody>
			<% @wishlists.each_with_index do |wishlist_item, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= image_tag(wishlist_item.product.image_url, size: "150x125") %></td>
				<td><%= wishlist_item.product.name %></td>
				<td><%= wishlist_item.product.price %></td>
				<td><%= link_to "remove", wishlist_path(wishlist_item.id), method: :delete, data: {confirm: "Are you sure want to remove item?"} %></td>
				<td><%= form_for CartLineItem.new do |f| %>
					<%= f.hidden_field :product_id, value: wishlist_item.product_id %>
					<%= f.hidden_field :quantity, value: 1 %>
					<%= f.submit "Add To Cart" %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>