<h2><%= @product.name %></h2>
<% if (user_signed_in?) && (can? :update, @product) %>
<p>
	<%= link_to "edit", edit_product_path(@product.id) %> |
	<%= link_to "delete", product_path(@product.id), method: :delete, data: {confirm: "Are you sure?"} %>
	</p>
	<% end %>
<p><%= @product.description %></p>
<p> INR - <%= @product.price %></p>
<%= @product.cod_eligible ? "cod eligible" : "cod not eligible" %>
<%= image_tag(@product.image_url, size: "250x250") %><br/>
<% if !@product.category.nil? %>
	<%= link_to @product.category.name, category_path(@product.category_id) %>
<% end %>
<%= link_to "List products", products_path %><br/>


<h3>Add to Cart</h3>
<% if user_signed_in? %>
	<%= form_for CartLineItem.new do |f| %>
		<label>Quantity:</label>
		<%= f.select :quantity, (1..5).to_a %><br/>
		<%= f.hidden_field :product_id, value: @product.id %>
		<%= f.submit "Add To Cart" %>
	<% end %>
<% else %>
<p>You need to signin before adding products to your cart</p>
<% end %>

<% if @product.reviews.empty? %>
	<p>No reviews found. Be the first one to review.</p>
<%else %>
	<h3>Listing Reviews</h3>
	<ol>
		<% @product.reviews.each do |review| %>
			<li><%= review.body %> <%= review.rating %>
			<% if (user_signed_in?) && (can? :update, review) %>
		 		<%= link_to "destroy", review_path(review.id), method: :delete, data: {confirm: "Are you sure want to delete review"} %> |<%= link_to "edit", edit_review_path(review.id)%></li>
		 		<% end %>
		<% end %>
	</ol>
<% end %>
<h3>Add your review</h3>
<%= form_for @review do |f| %>
	<label for="review_body">Body</label>
	<%= f.text_area :body %><br/>
	<span id="bodyError"></span>
	<%= f.hidden_field :product_id, value: @product.id %><br/>
	<label for="review_rating">Rating</label>
	<%= f.radio_button :rating, 1 %> 1
	<%= f.radio_button :rating, 2 %> 2
	<%= f.radio_button :rating, 3 %> 3
	<%= f.radio_button :rating, 4 %> 4
	<%= f.radio_button :rating, 5 %> 5 <br/>
	<span id="ratingError"></span><br/>
	<%= f.submit "Add Review", id: 'submit' %>
<% end %>
<% if user_signed_in? %>
	<%= form_for Wishlist.new do |f| %>
		<%= f.hidden_field :product_id, value: @product.id %>
		<%= f.submit "Move To Wishlist" %>
	<% end %>
<% else %>
	<p>You need to signin before adding products to wishlist</p>
<% end %>
<script>
	var bodyFormat = /^[a-zA-Z ]*$/;

	var bodyHandle = document.getElementById('review_body');
	var ratingHandle = document.getElementById('review_rating');
	var formHandle = document.getElementById('new_review');
	var submitHandle = document.getElementById('submit');

	var bodyErrorHandle = document.getElementById('bodyError');
	var ratingErrorHandle = document.getElementById('ratingError');
	var validator = {
		bodyValid: false,
		ratingValid: false
	};

	function bodyValidation(){
		if(bodyHandle.value === ""){
			validator.bodyValid = false;
			bodyErrorHandle.innerHTML = "can't be blank";
		}else if(!bodyFormat.test(bodyHandle.value)){
			validator.bodyValid = false;
			bodyErrorHandle.innerHTML = "should be alphabets";
		}else if(bodyHandle.value.length < 10 ){
			validator.bodyValid = false;
			bodyErrorHandle.innerHTML = "review is too short";
		}else{
			validator.bodyValid = true;
			bodyErrorHandle.innerHTML = "";
		}
	}

	function ratingValidation(){
		document.getElementsByName('review[rating]').forEach(function(rating){
			if(rating.checked){
				validator.ratingValid = true;
				return ratingErrorHandle.innerHTML = "";
			}
		})
		if(!validator.ratingValid){
			ratingErrorHandle.innerHTML = "can't be blank";
		}
		// if(ratingHandle.value === ""){
		// 	validator.ratingValid = false;
		// 	ratingErrorHandle.innerHTML = "can't be blank";
		// }else if(ratingHandle.value.checked){
		// 	validator.ratingValid = true;
		// 	ratingErrorHandle.innerHTML = "";
		// }
	}
	formHandle.addEventListener('submit', function(e){
		bodyValidation();
		ratingValidation();
		if(Object.values(validator).includes(false)){
			e.preventDefault();
			setTimeout(function(){
				submitHandle.disabled = false;
			}, 100);
		}else{

		}
	}, false)
</script>
